.profile{
    margin-left: 1rem;
    margin-top: 1rem;
}
.profile p{
    margin-left: 2rem;
    margin-top: -2rem;
    
}
.rate{
    margin-top: -0.75rem;
}
.review{
    margin-left: 3rem;
    margin-top: -0.75rem;
}